.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  .wrap {
    position: relative;
    height: 100%;  // need to be the same height as the parent
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 13.0rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);   // pushes higher on the Y axis. Centers it

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }


    nav {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 100%;   // (to center this vertically on the page)

      ul, ul li {
        padding: 0;
        margin: 0;
        height: 100%;   // (to center this vertically on the page)
      }

      ul {
        text-align: center;
        li {
          display: inline-block;
          list-style-type: none;
          margin: 0 1rem;

          a {
            font-size: 1.8rem;
            // line-height: 1;
            // line-height: 100%;
            line-height: 6.5rem;  // same height as the header (to center this vertically on the page)
            vertical-align: middle;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }


    // .callToActions {
    //   position: absolute;
    //   top:50%;
    //   left: 90%;
    // }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);    // pushes higher on the Y axis. Centers it

      ul, 
      li {
        margin: 0;
        padding: 0;
      }

      ul {
        // display: flex;
        // flex-wrap: wrap;
        // align-content: space-around;
      }

      li {
        list-style-type: none;
        // padding: 8px;
        display: inline-block;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }
        
        a, span {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }

    }
    
  }
}